[2018-12-03 19:04] dcaryll opened #1 "[component] Backdrop"

[2018-12-03 19:04] dcaryll opened #2 "[component] Avatar"

[2018-12-03 19:04] dcaryll opened #3 "[component] Autocomplete"

[2018-12-03 19:04] dcaryll opened #4 "[component] Alert"

[2018-12-03 19:04] dcaryll opened #5 "[Design comparison] Accordion"

[2018-12-03 19:04] dcaryll opened #6 "[component] About Modal Box"

[2018-12-03 19:04] dcaryll opened #7 "[foundation] Light/Shadows"

[2018-12-03 19:04] dcaryll opened #8 "[Design comparison] Alerts"

[2018-12-03 19:04] dcaryll opened #9 "[foundation] Typography - other"

[2018-12-03 19:04] dcaryll opened #10 "[foundation] Typography - headlines"

[2018-12-03 19:04] dcaryll opened #11 "[foundation] Grid spacing"

[2018-12-03 19:04] dcaryll opened #12 "[foundation] Vertical spacing"

[2018-12-03 19:04] dcaryll opened #13 "[foundation] Brand color scheme"

[2018-12-03 19:20] dcaryll opened #14 "[component] Background Image"

[2018-12-04 18:03] dcaryll opened #15 "[component] Badge"
https://pf-next.com/components/badge/examples/

[2018-12-07 11:11] dcaryll opened #16 "[foundation] UI colors"
Building the palette and use cases for color within the UI of the system

[2018-12-07 11:50] dcaryll opened #17 "[component] Brand"

[2018-12-07 11:50] dcaryll commented on #17
https://pf-next.com/components/brand/examples/

[2018-12-07 11:52] dcaryll opened #18 "[layout] Bullseye"
https://pf-next.com/layouts/bullseye/examples/

[2018-12-07 11:53] dcaryll opened #19 "[layout] Gallery"
https://pf-next.com/layouts/gallery/examples/

[2018-12-07 11:54] dcaryll opened #20 "[layout] Grid"
https://pf-next.com/layouts/grid/examples/

[2018-12-07 12:08] dcaryll opened #21 "[layout] Level"
https://pf-next.com/layouts/level/examples/

[2018-12-07 12:09] dcaryll opened #22 "[layout] Login"
https://pf-next.com/layouts/Login/examples/

[2018-12-07 12:13] dcaryll opened #23 "[layout] Page"
https://pf-next.com/layouts/page/examples/

[2018-12-07 12:13] dcaryll opened #24 "[layout] Split"
https://pf-next.com/layouts/split/examples/

[2018-12-07 12:14] dcaryll opened #25 "[layout] Stack"
https://pf-next.com/layouts/stack/examples/

[2018-12-07 12:14] dcaryll opened #26 "[layout] Toolbar"
https://pf-next.com/layouts/toolbar/examples/

[2018-12-07 13:47] dcaryll opened #27 "[component] Tooltip"
https://pf-next.com/components/tooltip/examples/

[2018-12-07 13:48] dcaryll opened #28 "[component] Toast"
https://pf-next.com/upgrade-examples/AlertUpgradeExamples/examples/

[2018-12-07 13:49] dcaryll opened #29 "[component] Title"
https://pf-next.com/components/title/examples/

[2018-12-11 13:59] dcaryll opened #30 "[foundation] Input types"
Input types:

- Text
- Password
- Radio
- Checkbox
- Select menu
- Button
- Color
- Image
- File
- Date
- Time
- Datetime
- Month
- Number
- Range
- Email
- URL
- Reset
- Submit

[2018-12-11 21:41] dcaryll opened #31 "[component] Table"
https://pf-next.com/components/table/examples/

[2018-12-11 21:44] dcaryll opened #32 "[component] Switch"
- A Switch is an alternative to the checkbox component.
- Use a switch when your user needs to perform instantaneous actions without confirmation.
- Use checkbox if your user has to perform additional steps for changes to become effective.

[2018-12-11 21:44] dcaryll commented on #32
https://pf-next.com/components/switch/examples/

[2018-12-11 21:45] dcaryll opened #33 "[component] Progress"
https://pf-next.com/components/Progress/examples/

[2018-12-11 21:47] dcaryll opened #34 "[component] Popover"
https://pf-next.com/components/popover/examples/

A popover is used to provide contextual information for another component on click.

[2018-12-11 21:48] dcaryll opened #35 "[component] Pagination"
Two styles:
- Table results (PF4)
- Results list

[2018-12-11 21:48] dcaryll opened #36 "[component] Nav"
https://pf-next.com/components/nav/examples/

[2018-12-11 21:49] dcaryll opened #37 "[component] Modal Box"
https://pf-next.com/components/modalbox/examples/

A modal box is a generic rectangular container that can be used to build modals.

[2018-12-11 21:50] dcaryll opened #38 "[component] Login"
https://pf-next.com/components/login/examples-full/?component=Login

[2018-12-11 21:51] dcaryll opened #39 "[component] List"
https://pf-next.com/components/List/examples/

[2018-12-11 21:51] dcaryll opened #40 "[component] Label"
https://pf-next.com/components/label/examples/

Labels can be used in a variety of components and can adjust in font size to match that of the component it lives in.

[2018-12-11 21:52] dcaryll opened #41 "[component] Input Group"
https://pf-next.com/components/inputgroup/examples/

[2018-12-11 21:53] dcaryll opened #42 "[component] Icon Panel"
https://rhc4tp-webrh.dev.a1.vary.redhat.com/schema/icon_panel_box

The icon panel box is an easy way to build out multiple cards or groups with optional icons, text, and call-to-actions. Cards may have background colors and images with options for aligning the image in the card.

[2018-12-11 21:54] dcaryll opened #43 "[component] Icon"
https://rhc4tp-webrh.dev.a1.vary.redhat.com/schema/icon_embed

[2018-12-11 21:55] dcaryll opened #44 "[component] Form Control"
https://pf-next.com/components/FormControl/examples/

Input, Textarea, and select are provided in the form controls component for use cases outside of forms. If they are used without label text ensure some sort of label for assistive technologies. (for example: aria-label)

[2018-12-11 21:55] dcaryll opened #45 "[component] Form"
https://www.patternfly.org/v4/documentation/react/components/form/

[2018-12-11 21:56] dcaryll opened #46 "[component] Dropdown"
https://pf-next.com/components/dropdown/examples/

[2018-12-11 21:57] dcaryll opened #47 "[component] Data List"
https://pf-next.com/components/datalist/examples/

The DataList component provides a flexible alternative to the Table component, wherein individual data points may or may not exist within each row.

[2018-12-11 21:58] dcaryll opened #48 "[component] Content"
https://pf-next.com/components/content/examples/

HTML Kitchen Sink style.

Related: Typography

[2018-12-11 21:59] dcaryll opened #49 "[component] Checkbox"
https://pf-next.com/components/check/examples/

Checkbox and Radio are provided in the check component for use cases outside of forms.

Related: form, inputs

[2018-12-11 21:59] dcaryll opened #50 "[component] Dialog"

[2018-12-11 22:00] dcaryll opened #51 "[component] Comments"

[2018-12-11 22:01] dcaryll opened #52 "[component] Card"
https://pf-next.com/components/card/examples/
https://rhc4tp-webrh.dev.a1.vary.redhat.com/schema/card

A card is a generic rectangular container that can be used to build other components.

Should they be clickable?

[2018-12-11 22:02] dcaryll opened #53 "[component] CTA"
https://rhc4tp-webrh.dev.a1.vary.redhat.com/schema/cta

Related: links, typography, buttons

[2018-12-11 22:03] dcaryll opened #54 "[component] Button"
https://pf-next.com/components/button/examples/

[2018-12-11 22:04] dcaryll opened #55 "[component] Breadcrumb"
https://pf-next.com/components/breadcrumb/examples/

A breadcrumb is a list of links to display a user's navigational hierarchy. The last item of the breadcrumb list indicates the current page's location.

[2018-12-11 22:04] dcaryll opened #56 "[component] Brand"
https://pf-next.com/components/brand/examples/

Simple brand component.

[2018-12-13 16:11] starryeyez024 commented on #20
@dcaryll where are the final mocks for grid?

[2018-12-13 19:17] starryeyez024 commented on #52
When can we prioritize this one? @dcaryll

[2018-12-18 18:35] starryeyez024 commented on #8
@dcaryll just alerting you that this doc exists already:
https://docs.google.com/document/d/1sq9b6hnmRNevA3ENKcJuIZNf6ejfWwInVht68r7yQtQ/edit

[2019-01-03 16:33] cybtachyon opened #57 "[question] Ensuring design documentation reflects component flexibility"
(Sorry if I missed it somewhere)

What processes / tools do we have in place to ensure the designs or documentation for the component reflect the reality of what is easily modifiable on the component?

**Goal: To ensure designers default to creating design variants that preserve the improved velocity of using a pre-built design kit and pattern library.**

_Example use case: We're using PatternFly

[2019-01-09 20:05] starryeyez024 opened #59 "[component] Tabs"
https://pf-next.com/components/Tabs/examples/

Details from old projects:

Config
- Color (theme)
- Style (vertical-tab, h-tab, notches, accordions?)

Content

Navigation
A header
B header
Content
A subpattern (set)
B subpattern (set)
—

Examples:
- https://www.redhat.com/en#tab.tech-portfolio.3
- https://www.redhat.com/en/services/training/ex200-red-hat-certified-system-administrator-rhcsa-exam?a

[2019-01-14 15:58] dcaryll commented on #57
cc'ing @kybaker and @coreyvickery. Need to respond to this as a team.

[2019-01-17 21:00] dcaryll opened #60 "[component] Audio player"
Audio player component, currently used on Open Source Stories and Command Line Heroes on redhat.com

[2019-01-21 20:54] starryeyez024 commented on #59
it might make sense to have the default tabs style include the border all the way around, like this https://xd.adobe.com/view/83f87db5-4e80-415e-4350-7b59ad213934-f5c9/screen/5e7c1ce3-7425-497a-b2ae-c0cf03ebd182/Web-1366-2?fullscreen

[2019-01-28 17:01] ajacobs21e commented on #4
I'm sharing a use case that recently came up for the Portal:

I used the PF4 alert component style for a Customer Portal alert:
![info alert pf4](https://user-images.githubusercontent.com/6415742/51852189-87aa6800-22f3-11e9-996d-eae665788738.png)
In this example, the alert has a title describing the alert + instructions for resolving the alert. In the PF4 style, it's fairly text heavy and may diss

[2019-02-28 22:18] cybtachyon commented on #57
@dcaryll @kybaker @coreyvickery @starryeyez024
Let me know if it would be easier to answer in a meeting. I'm available weekdays 10a - 6p ET for a call!

[2019-03-04 21:09] starryeyez024 opened #61 "Fallback fonts for other languages"
Should we include fallback fonts like this?

[code]

borrowed from Outfit:
https://cmsfte.dev.a1.vary.redhat.com/en/node/200111/edit

[2019-03-06 14:20] dcaryll commented on #61
@starryeyez024 Looks like Open Brand is asking us to use Noto Sans for languages the Red Hat font doesn't support:
`Red Hat Display and Red Hat Text support the extended Latin character set, meaning they’ll work for most European languages. For those languages (like Chinese, Japanese, or Korean), use the Noto Sans font family.
Noto is an open-licensed font family, developed by Google, that aims to

[2019-03-06 20:09] starryeyez024 commented on #61
Noto sans as a whole is gigantic, (all-inclusive, 72 styles 582 languages 237 regions) its 11.6 MB.

It could be better to detect the language and only load the fallback font when needed.

For example, if  javascript detects the language code in the URL is Japanese, it would add a body class of `<html class="ja">` and load this

[code]

but we'd have to do this for each language. :/

[2019-03-07 03:26] dcaryll commented on #57
@starryeyez024 want to weigh in with your thoughts?

[2019-03-11 14:07] starryeyez024 commented on #61
On second thought, maybe this is not much of a concern for web.

According to the [google font docs](https://www.google.com/get/noto/help/guidelines/) :
"When a font is only specified in CSS font-family but not really delivered to the client as a web font, the browser will automatically fall back to another font. Some Noto fonts are available at Google Web Fonts Early Access. However, sometimes, i

[2019-03-12 20:44] dcaryll opened #62 "[foundation] Typography - secondary (lists)"

[2019-03-12 20:45] dcaryll opened #63 "[component] Expandable (Disclosure)"

[2019-03-21 18:25] castastrophe opened #64 "[enhancement] Accordion | Add subtle opacity to open state"
Proposing: Add a subtle opacity (80% maybe) to the open state of the accordions, especially for the on-dark variation.

Shown here is a mock of the proposal:
<img width="1194" alt="Screen Shot 2019-03-21 at 1 39 55 PM" src="https://user-images.githubusercontent.com/1840295/54775589-b30b4e00-4be4-11e9-9965-fe1e55119c72.png">

The first open accordion is using #464646CC (which is an 80% opacity).  T

[2019-03-21 18:27] castastrophe opened #65 "[enhancement] Tabs | Opacity for inactive tabs"
On the earth variant, the inactive tabs are reading a little too strong in the on-dark context.

Proposal: Add a slight opacity to allow some of the background tint to show through, fading these a bit more into the background.

<img width="1264" alt="Screen Shot 2019-03-21 at 1 51 31 PM" src="https://user-images.githubusercontent.com/1840295/54775853-3af15800-4be5-11e9-84db-211cd7a82243.png">

[2019-06-14 18:36] cybtachyon commented on #57
Did we want to schedule a call for this? We ran out of time this past week.

[2019-06-17 14:11] dcaryll opened #66 "[layout] Define all layouts at all breakpoints"

[2019-06-20 19:34] starryeyez024 commented on #29
Solved!

[2019-06-20 19:34] #29 closed, assigned to nobody

[2019-06-20 19:38] starryeyez024 commented on #37
implementation discovery doc https://docs.google.com/document/d/1dL9L0XhJd7Xhr0LRmhc1oE2y60ejIKoU7eYUHhBF0MI/edit#

[2019-07-03 16:48] dcaryll opened #67 "[component] SSO login form"
Take Andy Fitzsimon's design ideas to bring an SSO login form into our system.

Ideas here:
- https://codepen.io/andyfitz/pen/rEvZRL?editors=0110

[2019-08-05 16:19] cybtachyon commented on #57
Call scheduled for August 15th - the first date that all stakeholders have a simultaneous available meeting slot.

[2019-08-12 21:54] starryeyez024 commented on #57
Many apologies that I didn't see this / respond in a timely fashion.

I think the answer is that we have a [theme layer](https://gitlab.corp.redhat.com/uxdd/redhat-theme), which is the intended "lever" that the designers can pull to control the design system.

If a dev needs to override something specific, they can do so with CSS variables, either inline on the component, or in a stylesheet on the

[2019-08-15 17:58] starryeyez024 commented on #57
Also adding this doc, which is listed in our PFE hub but is easy to miss
https://docs.google.com/document/d/1P6ohcr13y0DTca_aow6Lm5qSnUcIdM56wu8Fc4SwE00/edit#heading=h.bp2kgk4j8iof

[2019-08-15 18:27] cybtachyon commented on #57
This is a working meeting to answer these three questions:
**1. Are we simply assuming designers should not be modifying Patternfly components at all?**
They should be modifying the theme layer if required.
Modification Hooks: 1. Attribute Settings (storybook) 2. Theme Variables (repo theme SASS) 3. CSS Variables (repo theme SASS)
**2. Is there a documentation template that requires entering the e

[2019-09-05 16:43] starryeyez024 opened #70 "[component] Subnav"
Subnav component that accepts unordered list of links in the light dom, and styles them like this?

![image](https://user-images.githubusercontent.com/456863/64361541-bea7d100-cfda-11e9-8dcc-a7cccbdfb226.png)

![image](https://user-images.githubusercontent.com/456863/64361553-c49db200-cfda-11e9-9018-03d51bc317a4.png)

[2019-09-06 15:46] starryeyez024 commented on #45
DSC Meeting 9/6 - Discussed that the forms will mirror the existing styles of PF4. These styles just need to be shown in the DSC Design Kit.

[2019-09-13 17:07] ajacobs21e opened #71 "[component] Chip with dropdown"
The Customer Portal has a use case for filter chips with an embedded dropdown.
In this scenario, the filter chip is a product name and the dropdown lets the user select a version. The version dropdown is not always available and even when it is it is optional.

![Screen Shot 2019-09-12 at 10 19 29 AM](https://user-images.githubusercontent.com/6415742/64805970-14362d80-d547-11e9-8516-d82c5c1e11a8.p

[2019-09-20 11:31] dcaryll opened #72 "Need direction about icons (is brand going to include nav icons sooner than later). Need varying sizes for each icon."

[2019-09-20 13:45] dcaryll opened #73 "{Horizontal} Card"
Sam and Liz to provide horizontal card layout to add to design kit. Dan to pass off to PFE team for prioritization and implementation.

[2019-09-20 13:46] dcaryll opened #74 "Define proper line height for CTA and button"
Design kit has 1.5 line height in specs but 1.3 in Sketch and XD components

[2019-09-20 13:47] dcaryll commented on #74
Allie Jacobs to test.

[2019-09-20 13:56] samlinville commented on #73
<img width="1651" alt="Screen Shot 2019-09-20 at 9 55 33 AM" src="https://user-images.githubusercontent.com/3967272/65332560-ea0aee00-db8c-11e9-802a-9b95ba426fd0.png">

[2019-09-20 13:58] samlinville commented on #73
<img width="1521" alt="Screen Shot 2019-09-20 at 9 57 27 AM" src="https://user-images.githubusercontent.com/3967272/65332643-1292e800-db8d-11e9-88d9-df2e3987a519.png">

I would like the ability to also specify which side the image is on– i imagine it will usually be the left, but the flexibility would be :100:

[2019-10-25 15:53] ajacobs21e opened #75 "Create symbols in design kit sketch file"
Turn visual designs into symbols that allow for overrides between variants of the same component (e.g. primary button - secondary button - destructive button, etc)

[2019-10-25 15:59] ajacobs21e commented on #75
@dcaryll How do I add labels and put this on the project board?

[2019-11-01 15:33] ajacobs21e commented on #8
PF style: https://www.patternfly.org/v4/documentation/react/components/alert/

[2019-11-01 15:35] ajacobs21e commented on #8
Design kit: https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/84de1e95-5aca-4782-8eba-5a98804f93a6/Alert-standard

[2019-11-01 15:37] ajacobs21e commented on #8
Toast alert is an overlay and has a shadow. Inline alerts do not have a shadow

[2019-11-01 15:50] ajacobs21e commented on #5
https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/d1bad3d6-75c3-455a-a26f-c135517ed131/Accordion-light

[2019-11-01 15:51] ajacobs21e commented on #52
https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/d59e32f9-17aa-400b-a86b-80e6e09d8e4d/Card-basic & next handful of screens

[2019-11-01 15:52] ajacobs21e commented on #46
https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/018afc6f-a0fc-4064-b0b4-632b4191cc2f/Form

[2019-11-01 15:53] ajacobs21e commented on #59
https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/6b20a57b-62d0-4973-ab9f-a10c004eabfe/Tab-set-light

[2019-11-01 21:39] coreyvickery opened #76 "pfe-tabs "wind" variant type style fixes"
Please make the following type style changes to the pfe-tabs "wind" variant web component to better align to our shared design XD kit:

- Inactive tab state color should be #72767b
- Size of tab labels should be 16px, not 18px

https://web-dev-drupal-webux3.dev.a1.vary.redhat.com/en/patternfly-elements-web-components

[2019-11-14 19:14] ajacobs21e commented on #75
https://sketch.cloud/s/jeKZz

Completed so far:
- Typography
- Added brand colors
- Buttons
- CTAs
- Accordion
- Alerts

[2019-11-15 16:07] ajacobs21e commented on #75
Pushed update.
Added
- Search bars

@samlinville is going to be working on it next and I will update tonight.

[2019-12-02 16:52] ajacobs21e opened #77 "Vertical tabs - move highlight to left side for all variations"
Decision from 11/26 DSC meeting:

All tab variations should have a highlight on the left side. This will look neater with left aligned text and make the variations more consistent with each other and with jump links / scrollspy.

[Example of inconsistency](https://www.evernote.com/shard/s14/client/snv?noteGuid=9a8c5bd1-3693-4258-883a-1744bf9e19c4&noteKey=ca6dc0b940e00572&sn=https%3A%2F%2Fwww.evern

[2019-12-02 17:43] ajacobs21e opened #78 "Add card margin modifiers"
Decision from 11/26 DSC meeting:

Add modifiers for 16px, 24px, and 32px spacing options for all cards
Example:
![Card spacing example](https://user-images.githubusercontent.com/6415742/69981907-441b1e80-1501-11ea-8c9a-4a404e96ac23.png)

- [ ] Update XD file
- [ ] Update sketch file
- [ ] File PFE change
- [ ] Add to PF4 backlog

@dcaryll @starryeyez024 @coreyvickery @LHinson

[2019-12-02 17:46] ajacobs21e opened #79 "Update button spacing"
Decision from 11/26 DSC meeting:

- Buttons will use PF’s 6px form spacers => button height is 36px (6+24+6)
- Form fields & other components used with a button will match button height (36px)
- Red Hat Text Regular (instead of medium)
- Text will use the set line height (e.g. 16px font has a 24px line height and will sit in a 24px bounding box)

- [x] Update XD file
- [x] Update sketch file
- [x]

[2019-12-02 17:50] ajacobs21e opened #80 "Update secondary color and background color to meet contrast"
Decision from 11/26 DSC meeting:

Change background grey #F0F0F0
Change secondary text color to #6A6E73
[PF4 github issue](https://github.com/patternfly/patternfly-next/issues/2424) with more details

- [x] Update XD file
- [x] Update sketch file
- [x] File PFE change

@starryeyez024 @dcaryll @coreyvickery

[2019-12-02 18:01] ajacobs21e commented on #79
@coreyvickery This also impacts CTAs. They are currently 53px tall and will need to be 56px (16 + 24 + 16)

[2019-12-02 18:38] coreyvickery commented on #78
@ajacobs21e Just to clarify, these modifiers apply to cards on other parts of .com, for example, a marketing page vs. a portal page. We don't want to give the ability to use cards with different padding in the same page/environment?

[2019-12-02 18:42] ajacobs21e commented on #78
@coreyvickery I think it could work to have cards with two different types of padding on the same page as long as the context for each is very clear. An example could be a product page that has a card with a more marketing type message at the top, like "New version out now, download it here", and then lower down the page some cards in the content listing features, etc.

I wouldn't want to prescrib

[2019-12-02 18:52] ajacobs21e commented on #78
![Screen Shot 2019-12-02 at 1 39 27 PM](https://user-images.githubusercontent.com/6415742/69986149-c3612000-150a-11ea-8ea8-fc8c47682373.png)
At 16px spacing the heading, body text (18px) and CTA all look very large. I propose dropping them down to H4, product body copy (16px), and small CTA.

Do we want to build all of the card variations at all 3 spacing modifiers into the design kit? @coreyvicke

[2019-12-02 20:26] coreyvickery commented on #78
Maybe we can build or feature two in our kits. Marketing and product cards.

Marketing card: 32px padding, headline 3 (24pt), body copy (18pt), normal CTA
Product card: 16px padding, headline 4 (20pt), body copy (16pt), smaller/mobile CTA

[2019-12-04 05:59] coreyvickery commented on #78
<img width="900" alt="Screen Shot 2019-12-04 at 12 48 07 AM" src="https://user-images.githubusercontent.com/45767595/70116406-a6267180-1630-11ea-90f7-0e9519f7fc3c.png">
Here is a visual sketch of the above. One 'marketing card' and one 'product card' with different styles. The 'product card' can also function as a 'marketing card' on mobile breakpoints (tablet, phone). I think 16px padding is a li

[2019-12-04 06:01] coreyvickery commented on #78
<img width="900" alt="Screen Shot 2019-12-04 at 12 48 07 AM" src="https://user-images.githubusercontent.com/45767595/70116719-83e12380-1631-11ea-9e4d-380acaf247f7.png">
Here is a visual sketch of the above. One 'marketing card' and one 'product card' with different styles. The 'product card' can also function as a 'marketing card' on mobile breakpoints (tablet, phone). I think 16px padding is a li

[2019-12-05 00:25] starryeyez024 commented on #78
hello! Awesome design stuff going on here. :) I just thought I'd note that at least within the 2 code bases I work on, we have 3 distinct sections within cards: header, body, footer. It might be worth showing the spacing for all 3 regions?

![image](https://user-images.githubusercontent.com/456863/70192995-94de7300-16cb-11ea-9cc5-34d984662f89.png)

![image](https://user-images.githubusercontent.co

[2019-12-09 15:37] kylebuch8 commented on #15
@dcaryll - We've got a need to get `pfe-badge` created and we've been following the styles on https://www.patternfly.org/v4/documentation/react/components/badge. But when it comes to the state variations, read and unread, I know we have some other use cases outside read and unread. For the Customer Portal, we lump badges and labels together and provide other color options.

![image](https://user-i

[2019-12-09 15:41] kylebuch8 commented on #15
@dcaryll - Maybe badges are meant to be numerical and labels are for just text?
https://uspto.github.io/designpatterns/1.x/docs/components/labelsAndBadges.html

[2019-12-09 15:44] kylebuch8 commented on #15
@dcaryll - Looking around the web can confuse this even further. Bootstrap uses badges with text and sometimes numbers with the text.

https://getbootstrap.com/docs/4.0/components/badge/

[2019-12-09 16:00] diwanshi commented on #15
@kylebuch8 @dcaryll

These are some of the places where we use these badges as labels:

we are using this for service status:

![Screenshot_2019-12-09 One Portal Tools Services Catalog](https://user-images.githubusercontent.com/5659299/70451168-e7a09c00-1aca-11ea-8427-8f986fcc3cdf.png)

for VM status
![Screenshot_2019-12-09 One Portal QuickVM](https://user-images.githubusercontent.com/5659299/7045

[2019-12-09 16:09] ajacobs21e commented on #15
@kylebuch8 Badges and labels are separate components and should stay separate functionally and visually.

Badges are typically numbers and show a count of messages or errors or systems running, etc, and have the two states to indicate when something is new.

Labels can be either system defined or user defined to distinguish between items in a set. Labels can have multiple color options because the

[2019-12-09 20:42] ajacobs21e commented on #77
![Tab proposal](https://user-images.githubusercontent.com/6415742/70470905-19e5d580-1a9a-11ea-8ee5-de4a9e19d420.png)

Proposed changes:

Primary tabs
- Spacing
-- DSC: 8px 43px 8px ? (had to guess here)
-- Propose: 8px 32px 8px 16px
- Leading / trailing border line
-- DSC: 32px
-- Propose 24px
- Highlight height
-- DSC: 29px, centered
-- Propose 32px, centered (extending 4px above and below text)

[2019-12-10 15:07] markcaron commented on #15
I'd like to offer some thoughts if I could.

1. The use of the name `label`** for a component is problematic. I know Bootstrap and other libraries have latched onto this name in the past (and some presently), but I think it's at the risk of confusing developers with the already defined `<label>` element in HTML. I've seen this confusion firsthand when I was asked to help a developer who had mistak

[2019-12-10 15:20] markcaron commented on #77
I think there's some confusion as to how the CSS shorthand property for padding/spacing is arranged in the proposal.

I believe you mean to propose `8px 32px 8px 16px` (since the first number is top and moves clockwise).

I also think we should be using `em` instead of `px`. I know we're using `px` in XD, but when noting these amounts (and when coding it) we should be utilizing `em`. This is essen

[2019-12-10 15:28] ajacobs21e commented on #77
Thanks, you're right I did have the padding in the wrong order. I fixed my comment.

Both the Sketch and XD design kits use px so we should use those units for a design kit issue. The corresponding PFE issue can use em units.

[2019-12-10 15:41] markcaron commented on #77
Awesome! Right. My hope was that in any guidelines, we'd note our units as `em`

[2019-12-10 16:46] samlinville commented on #15
@markcaron

Seems like you answered that at the bottom of your comment :)

I'd agree with this. There are absolutely different use cases for the two things, and they should be visually distinct. Also worth noting, in PF4, there is a chip component which *contains* a badge. The chip itself is styled similarly to a label.

I think that example is helpful for visualizing the difference. Chips are sli

[2019-12-10 17:00] samlinville commented on #15
Also, IMO, we're on the verge of falling into a really common pitfall for this group, which is that there is a distinct difference between the conversation we should be having in this group (PF unified design kit) vs. the PFE group.

Here, we should be determining the exact use case for badge vs. label, and how they should be visually represented. This isn't the place to start talking about implem

[2019-12-10 19:04] markcaron commented on #15
I meant to answer my question 😂

I'm with you, @samlinville, except for the fact that I think this is the exact spot to discuss what it is called. We need to be speaking the same language. If this group is calling it a `label` then it would cause confusion moving forward into development and what it will be called in the library. I'm not meaning that we should use a `<label>` element (implementati

[2019-12-11 16:29] Djfaucette commented on #15
Adding my two cents:

Using "label" to describe the above pattern is really confusing to me. When I hear label I think about https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label

That's the language the spec uses, so why use that noun here? I think this is why Bootstrap has moved away from labels as component as well, instead calling them badges https://getbootstrap.com/docs/4.0/compone

[2019-12-12 17:01] ajacobs21e commented on #15
All of these discussions are good and should be happening but we need to make sure they are happening in the right place.

This repo is for creating components within the unified design kit. Those components are using PatternFly design as-is unless there is a specific marketing / web use case that isn't being met by the design. In this case the design kit should reflect the existing design in Patt

[2019-12-12 18:54] markcaron commented on #15
Done: https://github.com/patternfly/patternfly-next/issues/2516

I still think we need to have these discussions wherever they come up. But, yes, moving the discussion to PF-Next is the right approach.

With that, I think there are very specific concerns around using `<Label>` or what would be `<pfe-label>`. We definitely need to address this. Not sure if this is a blocker from @kylebuch8 's persp

[2019-12-18 14:26] ajacobs21e commented on #77
We reviewed these changes in the DSC meeting today and everyone on the call agreed. @coreyvickery any feedback before I finalize this?

[2019-12-18 17:24] coreyvickery commented on #77
Nothing further from me.

Corey

On Wed, Dec 18, 2019 at 6:26 AM Allie Jacobs <notifications@github.com>
wrote:

--

Corey Vickery

Senior Digital Designer, Website Systems

Red Hat <https://www.redhat.com/>
<https://red.ht/sig>

[2019-12-19 17:11] coreyvickery commented on #77
@ajacobs21e Let me know when your changes are final in the Sketch file.

[2019-12-23 16:02] ajacobs21e commented on #77
![Tab proposal vertical-colors](https://user-images.githubusercontent.com/6415742/71367354-caf86f80-2572-11ea-9e84-633f6c6d95b8.png)

@coreyvickery @dcaryll I have some proposed changes to the colors to match PF4 variables. Basically I used the closest PF4 color variable and checked these with @mceledonia.
If these gets the thumbs up then the sketch file is ready.

- Secondary color - needs to cha

[2020-01-02 08:32] coreyvickery commented on #77
@ajacobs21e Approved on my end. @dcaryll Dan?

[2020-01-07 16:04] dcaryll commented on #77
@ajacobs21e @coreyvickery approved, thanks!

[2020-01-07 16:05] ajacobs21e commented on #77
@coreyvickery the sketch file is finished and ready to copy over into XD. I'll also file the PFE issue and link it here.

[2020-01-07 20:22] ajacobs21e opened #81 "horizontal tab discussion"
@dcaryll  Looking for consensus on a horizontal tab proposal before opening a pf-design issue.

PF4 horizontal tabs:
https://www.patternfly.org/v4/documentation/react/components/tabs

My proposal for DSC horizontal tabs:
![Tab proposal horizontal](https://user-images.githubusercontent.com/6415742/71917891-2455c680-314f-11ea-9e3f-cda5f097dc20.png)

PF4's primary tabs are more like our secondary tab

[2020-01-07 21:14] ajacobs21e commented on #77
PFE issue https://github.com/patternfly/patternfly-elements/issues/640

[2020-01-20 16:52] ajacobs21e commented on #5
Sketch symbols for accordion: https://sketch.cloud/s/jeKZz/p/accordion

**Differences between XD and PF4**

Overall size and heading text style differ, which makes sense for a marketing vs app context.

Attribute | XD  | PF4 | Notes | Decision
--- | --- | --- | --- | ---
Hover & focus state | Missing | Included | | **add hover state**
Expanded state heading | Same as collapsed (H4) | Link (vs body

[2020-01-20 22:54] ajacobs21e commented on #77
PF4 design issue https://github.com/patternfly/patternfly-design/issues/802

@coreyvickery I assigned it to you since 'update xd' is the last task left. Thanks!

[2020-01-20 23:24] #4 closed, assigned to nobody

[2020-01-20 23:25] ajacobs21e commented on #4
Moving conversation to #8

[2020-01-20 23:55] ajacobs21e commented on #79
PFE issue: https://github.com/patternfly/patternfly-elements/issues/692

PatternFly-design issue TBD

[2020-01-21 00:00] ajacobs21e commented on #75
Closing this because we're basically turning this whole board into this story

[2020-01-21 00:00] #75 closed, assigned to ajacobs21e

[2020-01-21 00:04] ajacobs21e commented on #67
@dcaryll Where should something like this live in the future? This is something that would live in the repo of Red Hat solutions that's going to be separate from PatternFly. Maybe we need a separate github board for those design tasks? Or move trello or something?

Either way I'm interested in this since it relates to SSO work I'm doing. So far I'm just doing super lofi designs and haven't thought

[2020-01-21 08:04] coreyvickery commented on #79
@ajacobs21e XD file has reflected these updates for a while now.

[2020-01-21 08:04] coreyvickery commented on #80
@ajacobs21e XD file has reflected these changes for a while now.

[2020-01-21 08:18] coreyvickery commented on #77
@ajacobs21e Done and done.

[2020-01-21 15:15] #80 closed, assigned to coreyvickery

[2020-01-21 15:15] #77 closed, assigned to coreyvickery

[2020-01-21 15:16] #79 closed, assigned to ajacobs21e, coreyvickery

[2020-01-21 15:55] ajacobs21e commented on #79
https://github.com/patternfly/patternfly-design/issues/803 design issue to add CTA to PF4

[2020-01-21 15:56] ajacobs21e commented on #74
Closed via #79

[2020-01-21 15:56] #74 closed, assigned to coreyvickery

[2020-01-21 23:40] ajacobs21e commented on #64
Merging with #5

[2020-01-21 23:40] #64 closed, assigned to nobody

[2020-01-21 23:41] ajacobs21e commented on #5
Also pulling in the request from #64
To add 80% opacity to open content area background.

Is that something we want to add to the design proposal?
If so, would we suggest it for PF4 accordion as well?

[2020-01-21 23:44] ajacobs21e commented on #53
Added to patternfly-design https://github.com/patternfly/patternfly-design/issues/803

[2020-01-21 23:44] #53 closed, assigned to nobody

[2020-01-21 23:45] ajacobs21e commented on #54
Using pf-buttons as is

[2020-01-21 23:45] #54 closed, assigned to nobody

[2020-01-21 23:48] ajacobs21e commented on #61
@starryeyez024 I believe this is a development and not a design issue. Is it ok to close on this board?

[2020-01-22 15:57] ajacobs21e commented on #81
@kybaker 's design for PF4's horizontal tabs: https://marvelapp.com/416e0jh/screen/58681446

Kyle's design has 16px spacers all around, versus 16px 32px 16px 32px spacing.
He also uses bold font weight for the active tab, versus regular.
Both are fine with me. @coreyvickery good with you?

Another difference are that the web primary (open) tabs are centered versus left aligned for PF4.
@coreyvicke

[2020-01-22 17:12] coreyvickery commented on #81
@ajacobs21e @kybaker @dcaryll  I'm fine with the new spacing for secondary/tabbed tabs. Is it possible to keep the same spacing in the primary/open tabs? My concern with using a Bold font over Regular is when you click through tabs, there is some degree of shifting. Here's an example:

https://www.openshift.com/products/container-platform

Lastly, we do need a centered variation of the 'open' comp

[2020-01-22 17:15] coreyvickery commented on #81
@ajacobs21e @kybaker In the 'open' component, is there no space between the thicker bottom rules? One variation we use has 8px in between, see example. Looks like Kyle might have 1px in his file, but it's a little hard to tell.
<img width="453" alt="Screen Shot 2020-01-22 at 12 13 16 PM" src="https://user-images.githubusercontent.com/45767595/72916869-cad5c600-3d10-11ea-8969-513e3bcdc97c.png">

[2020-01-22 17:57] ajacobs21e commented on #81
Good point @coreyvickery  about the shifting for the bolded text. @mcarrano is that something that's been discussed on the dev side?

The current tabs don't have a space between the highlight line. That decision would impact vertical tabs as well.

[2020-01-22 18:39] mcarrano commented on #81
@ajacobs21e The shifting because of the change in font weight is something that came up before and I know we made changes to our horizontal nav, for example, to address this. @kybaker do you recall the mods that we made? Should those be reflected back to these tab designs?

[2020-01-28 21:32] ajacobs21e commented on #64
This design option is too custom to be added to the design system. This will have to be up to the designer and take into account contrast and context, etc.

[2020-01-28 22:05] ajacobs21e commented on #8
Attribute | XD  | PF4 | Notes | Decision
--- | --- | --- | --- | ---
Success color (border / icon) | #92D400 | #3E8635
Border width | 4px | 3px |
Description text | status text color | black
Description text spacing | 1 line break | separate text field<br>8px spacer

@coreyvickery will make these changes

[2020-01-29 18:06] ajacobs21e commented on #5
@coreyvickery I also had to increase the height of the collapsed accordion to 62px = 16px spacer + 30px line height (H4) + 16px spacer. It looks like in XD the text has a 26px line height.

![Accordions](https://user-images.githubusercontent.com/6415742/73383599-9c6b6400-4297-11ea-88a8-d4e720a42779.png)

@coreyvickery & @mceledonia do you think the 18pt icons are large enough? Michael do we plan o

[2020-01-29 18:28] ajacobs21e commented on #8
@coreyvickery ready to review

[2020-01-29 18:58] ajacobs21e commented on #72
@dcaryll is it ok to close this?

[2020-01-29 19:02] ajacobs21e commented on #2
PF4 avatar is a circle: https://www.patternfly.org/v4/documentation/react/components/avatar

[2020-01-29 19:11] ajacobs21e commented on #3
@dcaryll What is this? is this the functionality within a component like a search bar etc?

[2020-01-29 19:15] ajacobs21e commented on #6
https://www.patternfly.org/v4/documentation/react/components/aboutmodal

[2020-01-29 19:17] ajacobs21e commented on #2
Portal use case - We use square avatars within commenting because internal users get a rectangular [RED HAT] banner below their avatar.
We would either need PF4 to support square avatars or find another way to show employee status.

[2020-01-29 19:18] ajacobs21e commented on #1
@dcaryll what is this?

[2020-01-29 19:36] ajacobs21e commented on #65
This design option is too custom to be added to the design system. This will have to be up to the designer and take into account contrast and context, etc.

[2020-01-29 19:36] #65 closed, assigned to nobody

[2020-01-29 19:37] ajacobs21e commented on #63
@dcaryll @coreyvickery How does this differ from the expandable component?

[2020-01-29 19:37] #61 closed, assigned to nobody

[2020-01-29 19:39] #59 closed, assigned to coreyvickery

[2020-01-29 19:45] ajacobs21e commented on #49
In design kit, matches PF4

[2020-01-29 19:45] #49 closed, assigned to nobody

[2020-01-29 20:20] coreyvickery commented on #63
@ajacobs21e I don't think it does, just a different name.

[2020-01-29 22:31] ajacobs21e commented on #15
Design using PF4 as is

[2020-01-29 22:31] #15 closed, assigned to nobody

[2020-01-29 22:33] ajacobs21e commented on #27
https://www.patternfly.org/v4/documentation/react/components/tooltip

[2020-01-29 22:34] ajacobs21e commented on #31
https://www.patternfly.org/v4/documentation/react/components/table

[2020-01-29 23:25] ajacobs21e commented on #32
Using PF4 forms as is

[2020-01-29 23:25] #32 closed, assigned to nobody

[2020-01-29 23:27] ajacobs21e commented on #33
https://www.patternfly.org/v4/documentation/react/components/progress

[2020-01-29 23:28] ajacobs21e commented on #34
https://www.patternfly.org/v4/documentation/react/components/popover

[2020-01-30 00:17] ajacobs21e commented on #37
Attribute | XD  | PF4 | Notes | Decision
--- | --- | --- | --- | ---
Background color | #151515 @ 50% opacity | #000000 @ 20% opacity | | Will update XD
Modal border radius | 3px | 0px | rhdc needs to keep radius | Discuss with pf-design
Modal drop shadow | #000000 @ 10%, 0,3,4,0 | #000000 @ 18% opacity, 0,11,24,0 <br> #000000 @ 12% opacity, 0,3,7,0 | XD cannot do two shadows, Corey will do his be

[2020-01-30 00:19] ajacobs21e commented on #38
This is something to work on as a branded solution. TBD where to put those issues.

[2020-01-30 00:19] ajacobs21e commented on #39
https://www.patternfly.org/v4/documentation/react/components/list

[2020-01-30 00:20] ajacobs21e commented on #40
https://www.patternfly.org/v4/documentation/react/components/label

[2020-01-30 00:25] ajacobs21e commented on #81
@kybaker or @mceledonia Does the highlight line for the tab go the full width of the tab? Or is there 1px space between each?

[2020-01-30 00:31] ajacobs21e commented on #55
https://www.patternfly.org/v4/documentation/react/components/breadcrumb

[2020-01-30 00:33] ajacobs21e commented on #77
@coreyvickery Updating to match horizontal tabs - highlight goes full height of tab (minus leading line) = 56px

[2020-01-30 00:36] ajacobs21e commented on #41
https://github.com/patternfly/patternfly-next/issues/1926 new designs pending in PF4

[2020-01-30 00:39] #44 closed, assigned to nobody

[2020-01-30 00:39] ajacobs21e commented on #45
@coreyvickery is this updated in XD? If so, I'll close this.

[2020-01-30 00:40] ajacobs21e commented on #46
Should be covered by #45

[2020-01-30 00:40] #46 closed, assigned to nobody

[2020-01-30 00:40] ajacobs21e commented on #47
https://www.patternfly.org/v4/documentation/react/components/datalist

[2020-01-30 00:41] ajacobs21e commented on #48
@dcaryll do you know what this was? the pf-next site is gone now

[2020-01-30 00:42] ajacobs21e commented on #50
@dcaryll do you remember what this is?

[2020-01-30 00:42] coreyvickery commented on #45
@ajacobs21e Should be, yes.

[2020-01-31 17:32] #45 closed, assigned to nobody

[2020-02-04 18:22] ajacobs21e commented on #37
@coreyvickery for the modal border radius, could that be part of the RCUE theming? So pf-modal would be square corners and then the rcue-modal would have 3px rounded?

[2020-02-04 20:36] ajacobs21e commented on #81
@kybaker @coreyvickery and I talked today and we're going to use a full width highlight (barring any coding limitations). Sketch and XD designs are updated: https://sketch.cloud/s/jeKZz/p/tabs-pf

I'm going to share in tomorrow's PF Web design meeting and work with @mcarrano to get this change into the dev backlog.
Dev story: https://github.com/patternfly/patternfly-next/issues/1855

Closing this

[2020-02-04 21:59] LHinson commented on #37
Wanted to raise awareness re: my and @ajacobs21e conversation regarding this topic.... she is documenting differences and we'll have to do an evaluation on what can be achieved and how.

[2020-02-04 22:23] coreyvickery commented on #37
I don't see why not. All of the other styles should carry over between the two use cases.

[2020-02-04 22:52] ajacobs21e commented on #81
@coreyvickery I missed your question about the spacing of the open tabs. Here's a mockup of all the different tab style options. We'll discuss tomorrow.
![Screen Shot 2020-02-04 at 5 49 53 PM](https://user-images.githubusercontent.com/6415742/73794715-05127f00-4777-11ea-8a75-882888de3ffd.png)

[2020-02-07 16:50] ajacobs21e commented on #63
Update name to disclosure - it's a distinct component from the PF4 expandable

[2020-02-10 17:19] ajacobs21e commented on #5
Updated icons to 24pt
https://sketch.cloud/s/3WK1w/p/accordion

[2020-02-10 17:19] #5 closed, assigned to dcaryll

[2020-02-11 22:28] ajacobs21e commented on #37
Sketch symbols complete https://sketch.cloud/s/3WK1w/p/modal

[2020-02-11 22:28] #37 closed, assigned to nobody

[2020-02-11 22:29] ajacobs21e commented on #81
2/5 PatternFly Web meeting: decided to offer a wider (32px spacer left/right) option for both tab styles and to allow for either size tab to be left aligned or centered.

[2020-02-11 22:29] #81 closed, assigned to nobody

[2020-02-12 19:25] ajacobs21e commented on #76
@coreyvickery I'm closing this since this is a PFE issue and not a design kit one. If this change still needs to be made, please file a PFE issue. Thanks!

[2020-02-12 19:25] #76 closed, assigned to starryeyez024

[2020-02-14 21:12] ajacobs21e commented on #71
Closing this for now. I no longer have the use case for this. If it comes up again I will open a pf-design issue for it.

[2020-02-14 21:12] #71 closed, assigned to ajacobs21e

[2020-02-17 03:23] ajacobs21e commented on #66
@coreyvickery is this still needed?

[2020-02-17 03:24] #72 closed, assigned to nobody

[2020-02-17 03:25] ajacobs21e commented on #52
Closing this - we have another story about card margin modifiers and I will use that one to create the card components in sketch

[2020-02-17 03:25] #52 closed, assigned to nobody

[2020-02-18 16:33] ajacobs21e commented on #8
![alerts](https://user-images.githubusercontent.com/6415742/74756406-799ef080-5242-11ea-91e1-d4cb3cb5b2f8.png)

[2020-02-19 14:21] #41 closed, assigned to nobody

[2020-02-19 14:21] #55 closed, assigned to nobody

[2020-02-19 14:21] #34 closed, assigned to nobody

[2020-02-19 14:21] #2 closed, assigned to nobody

[2020-02-19 14:21] #6 closed, assigned to nobody

[2020-02-19 14:21] #28 closed, assigned to nobody

[2020-02-19 14:21] #27 closed, assigned to nobody

[2020-02-19 14:21] #31 closed, assigned to nobody

[2020-02-19 14:21] #33 closed, assigned to nobody

[2020-02-19 14:38] mceledonia commented on #5
@ajacobs21e

- For the text change in the active state to bold/blue I'd assume that was just a style decision to highlight the active state. I don't think the change to bold is needed here. The expansion panel being expanded and having the blue side bar is plenty in terms of expanded indications, and those would satisfy any accessibility needs.

- For the focus state I believe we typically use the

[2020-02-19 18:57] ajacobs21e commented on #47
Using PF4 component as-is

[2020-02-19 18:57] #47 closed, assigned to nobody

[2020-02-19 18:58] ajacobs21e commented on #40
Using PF4 component as-is

[2020-02-19 18:58] #40 closed, assigned to nobody

[2020-02-19 18:58] ajacobs21e commented on #39
Using PF4 component as-is

[2020-02-19 18:58] #39 closed, assigned to nobody

[2020-02-19 18:59] ajacobs21e commented on #3
Using PF4 component as-is

[2020-02-19 18:59] #3 closed, assigned to nobody

[2020-02-19 20:06] #7 closed, assigned to nobody

[2020-02-19 20:06] ajacobs21e commented on #9
In design kit

[2020-02-19 20:06] #9 closed, assigned to nobody

[2020-02-19 20:07] ajacobs21e commented on #10
in design kit

[2020-02-19 20:07] #10 closed, assigned to nobody

[2020-02-19 20:07] ajacobs21e commented on #11
in design kit

[2020-02-19 20:07] #11 closed, assigned to nobody

[2020-02-19 20:08] ajacobs21e commented on #13
@coreyvickery do you still need this story?

[2020-02-19 20:08] ajacobs21e commented on #12
@coreyvickery do you still need this story?

[2020-02-19 20:08] ajacobs21e commented on #14
@coreyvickery do you still need this story?

[2020-02-19 20:08] ajacobs21e commented on #16
in design kit

[2020-02-19 20:08] #16 closed, assigned to dcaryll

[2020-02-19 20:10] ajacobs21e commented on #17
https://www.patternfly.org/v4/documentation/react/components/brand

@coreyvickery is ^ this what this story is about? Do we need to discuss the design or can we use the PF component as is?

[2020-02-19 20:10] coreyvickery commented on #13
@ajacobs21e I don't think I do, but we should bring up color in the next meeting and what the working relationship is with the Brand team.

[2020-02-19 20:10] coreyvickery commented on #12
@ajacobs21e Not sure what this story is, so close it.

[2020-02-19 20:11] coreyvickery commented on #14
@ajacobs21e I don't think I do, unless @dcaryll can clarify what this story needs.

[2020-02-19 20:13] coreyvickery commented on #17
@ajacobs21e This could be for the Red Hat brand, which is in the XD kit, I'm not sure exactly what @dcaryll had in mind if not.

[2020-02-19 20:15] ajacobs21e commented on #13
k thanks, I'll close for now

[2020-02-19 20:15] #13 closed, assigned to nobody

[2020-02-19 20:21] #12 closed, assigned to nobody

[2020-02-19 20:23] ajacobs21e commented on #70
@starryeyez024 @coreyvickery how does this differ from horizontal or vertical tabs?

[2020-02-19 20:27] coreyvickery commented on #70
@ajacobs21e Could our new vertical jump links component cover subnav?

[2020-02-19 20:29] ajacobs21e commented on #42
@dcaryll the link doesn't work, can you explain what this is and if this story is still needed?
@coreyvickery

[2020-02-19 20:40] ajacobs21e commented on #70
either those or vertical tabs, yes I think so

[2020-02-19 20:42] ajacobs21e commented on #62
@coreyvickery does this issue match to this component? https://www.patternfly.org/v4/documentation/react/components/list

[2020-02-19 20:44] dcaryll commented on #14
Not sure what this was referencing. Closing!

[2020-02-19 20:44] #14 closed, assigned to nobody

[2020-02-19 20:46] dcaryll commented on #17
@ajacobs21e @coreyvickery this is referring to this component, yes: https://www.patternfly.org/v4/documentation/react/components/brand

[2020-02-19 20:48] ajacobs21e commented on #60
![Screen Shot 2020-02-19 at 3 45 38 PM](https://user-images.githubusercontent.com/6415742/74874394-e4c5f100-532e-11ea-86f3-c07766720a26.png)

This is a net new design. I'm adding it to our PF web backlog: https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=0

[2020-02-19 20:48] dcaryll commented on #66
This is a layout/grid question which somewhat falls into our redhat.com layout system. Maybe not a PF thing? Maybe we do offer layouts as part of PF?

[2020-02-19 20:50] dcaryll commented on #42
Here's a link: https://webrh-patternkit.int.open.paas.redhat.com/schema/icon_panel (must be on VPN). It's essentially a group of components containing an icon, text and CTA, may or may not be within a card. So not sure if it fits into the system or not.

[2020-02-19 20:51] dcaryll commented on #70
We should be careful about using vertical jump links for external pages. This is basically a subnav in that it's connecting a group of pages. I don't think the vertical or horizontal jump links can support that.

[2020-02-19 20:52] dcaryll commented on #62
I think it does @ajacobs21e. We should consider supporting another list style which we use a lot (horizontal rules between items like on https://www.redhat.com/en/solutions/hybrid-cloud-infrastructure (see cards at bottom of page).

[2020-02-19 21:12] ajacobs21e commented on #66
PF core does have layout / grid stuff but we don't include that in our sketch library. Would this make more sense to transfer to PFE?

[2020-02-19 21:17] ajacobs21e commented on #70
ah ok, for external links that makes more sense. would the pf-nav component meet this use case?
https://www.patternfly.org/v4/documentation/react/components/nav

[2020-02-19 21:22] #17 closed, assigned to nobody

[2020-02-19 21:24] ajacobs21e commented on #51
Net new design. Adding to pf web backlog: https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=0

[2020-02-19 23:24] ajacobs21e commented on #81
@coreyvickery updated horizontal tab overflow arrows
![Screen Shot 2020-02-19 at 6 18 17 PM](https://user-images.githubusercontent.com/6415742/74885756-5bb9b480-5344-11ea-82e2-1fce9413f7e1.png)
icon button with 16px caret (24px square button target area)
spacers 16px 8px 16px 8px
default pf-black-900 #151515
disabled pf-black-500 #8A8D90
hover pf-global-link-color #0066CC
fade X= 20 or -20, Y= 0,

[2020-02-19 23:34] ajacobs21e commented on #35
new component - added to backlog https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=0

[2020-02-19 23:35] ajacobs21e commented on #36
We can open a new issue when we discuss updates to the universal nav

[2020-02-19 23:35] #36 closed, assigned to nobody

[2020-02-19 23:37] ajacobs21e commented on #8
@coreyvickery can you update the success color please?

[2020-02-20 15:16] coreyvickery commented on #8
@ajacobs21e Done.

[2020-02-20 15:50] ajacobs21e commented on #8
![bitmoji](https://render.bitstrips.com/v2/cpanel/43533bc8-de9f-4e89-9f7d-f9a64b6254c4-e4cdb08c-c3aa-4a52-8c8f-d01e5b20b434-v1.png?transparent=1&palette=1&width=246)

[2020-02-20 15:50] #8 closed, assigned to nobody

[2020-02-21 16:37] ajacobs21e commented on #1
ex: modal background
Allie to ask PF if the blur is an option or built in to the component

[2020-02-21 16:42] ajacobs21e commented on #48
https://www.webfx.com/web-design/html-ipsum/
input raw html, output styles - backend functionality, no component needed for design kit

[2020-02-21 16:42] #48 closed, assigned to nobody

[2020-02-21 16:43] #66 closed, assigned to nobody

[2020-02-21 16:44] #50 closed, assigned to nobody

[2020-02-21 16:46] ajacobs21e commented on #42
All the pieces exist in the kit. Designers can built this as needed for projects

[2020-02-21 16:46] #42 closed, assigned to nobody

[2020-02-21 16:48] ajacobs21e commented on #30
Use existing PF4 form components and add others (like datepicker) once available in PF4.

[2020-02-21 16:48] #30 closed, assigned to nobody

[2020-02-21 16:51] ajacobs21e commented on #70
PF left nav can work for some use cases. Another example is the collapsed nav on the brand site https://www.redhat.com/en/about/brand/standards

Design work still needed

[2020-02-21 16:52] ajacobs21e commented on #62
add list style with horizontal rule - design still needed

[2020-02-25 18:27] ajacobs21e opened #82 "Filter component"

[2020-02-26 19:38] ajacobs21e opened #83 "Code snippet component"
@gdoyle1 @samlinville Can you link the component request doc when it's ready please?

[2020-02-27 20:09] #83 closed, assigned to nobody

[2020-03-26 19:05] dcaryll commented on #60
Design from design kit (still going through approval process):

https://xd.adobe.com/spec/3e62e93c-8338-4f31-5040-3b81f0ed5c71-4853/screen/05c43418-20cf-4d93-b3a5-237c4f724370/Audio-player-light-theme

[2020-04-30 15:51] ajacobs21e commented on #56
Use existing PF component

[2020-04-30 15:51] #56 closed, assigned to nobody

[2020-04-30 15:52] ajacobs21e commented on #60
In progress https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=105216451

[2020-04-30 15:52] #60 closed, assigned to coreyvickery

[2020-04-30 15:54] ajacobs21e commented on #82
Review pending https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=105216451

[2020-04-30 15:54] #82 closed, assigned to ajacobs21e

[2020-04-30 15:55] ajacobs21e commented on #78
In progress https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=105216451

[2020-04-30 15:55] #78 closed, assigned to ajacobs21e

[2020-04-30 15:55] ajacobs21e commented on #73
In progress https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=105216451

[2020-04-30 15:55] #73 closed, assigned to coreyvickery

[2020-04-30 15:55] ajacobs21e commented on #70
Design to do https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=105216451

[2020-04-30 15:55] #70 closed, assigned to nobody

[2020-04-30 15:56] ajacobs21e commented on #1
Modal blur removed from PF4. use component as is

[2020-04-30 15:56] #1 closed, assigned to nobody

[2020-04-30 15:57] ajacobs21e commented on #67
Branded solution - to do https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=105216451

[2020-04-30 15:57] #67 closed, assigned to nobody

[2020-04-30 15:57] ajacobs21e commented on #63
in progress https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=105216451

[2020-04-30 15:57] #63 closed, assigned to dcaryll

[2020-04-30 15:57] ajacobs21e commented on #62
new list style to do https://docs.google.com/spreadsheets/d/1Joil6iGvY3lDYHT799r-k9dVeJ6mSTTBAKMrrKpsB3k/edit#gid=105216451

[2020-04-30 15:57] #62 closed, assigned to nobody

[2020-04-30 15:57] #51 closed, assigned to nobody

[2020-04-30 15:57] #43 closed, assigned to nobody

[2020-04-30 15:58] ajacobs21e commented on #38
Duplicate issue

[2020-04-30 15:58] #38 closed, assigned to nobody

[2020-04-30 15:58] #35 closed, assigned to nobody